version: 2.1

### It's a good practice to keep your commands at the top of the config file. In this project, you'll need at least 2 commands:
commands:
  destroy-environment:
    description: Destroy backend and frontend cloudformation stacks given a workflow ID.
    steps:


  revert-migration:
    description: Revert the last migration if successfully run in the current workflow.
    steps:


  install_build_cache:
    steps:
      - restore_cache:
          key: v1-repo-{{ checksum "backend/package.json" }}-{{checksum "frontend/package.json"}}
      - run:
          name: Install
          command: |
            npm install
      - run:
          name: Build
          command: |
            npm run build

jobs:
  checkout_code:
    docker:
      - image: circleci/node:13.8.0
    working_directory: ~/project
    steps:
      - checkout
      - restore_cache:
          key: v1-repo-{{ checksum "backend/package.json" }}-{{checksum "frontend/package.json"}}
      - run:
          name: Install dependencies
          command: |
            cd ~/project/backend && npm ci
            cd ~/project/frontend && npm ci

      - save_cache:
          key: v1-repo-{{ checksum "backend/package.json" }}-{{checksum "frontend/package.json"}}
          paths:
            - ~/project

  frontend-build:
    docker:
      - image: circleci/node:13.8.0
    working_directory: ~/project/frontend
    steps:
      - install_build_cache

  backend-build:
    docker:
      - image: circleci/node:13.8.0
    working_directory: ~/project/backend
    steps:
      - install_build_cache

  backend-test:
    docker:
      - image: circleci/node:13.8.0
    working_directory: ~/project/backend
    steps:
      - restore_cache:
          key: v1-repo-{{ checksum "backend/package.json" }}-{{checksum "frontend/package.json"}}

      #    - backend_save_restore_cache

      - run:
          name: Run tests with JUnit as reporter
          command: npm run test
          environment:
            JEST_JUNIT_OUTPUT_DIR: ./reports/junit/
      - store_test_results:
          path: ./reports/junit/
      - store_artifacts:
          path: ./reports/junit

  frontend-test:
    docker:
      - image: circleci/node:13.8.0
    working_directory: ~/project/frontend
    steps:
      - restore_cache:
          key: v1-repo-{{ checksum "backend/package.json" }}-{{checksum "frontend/package.json"}}

      #- frontend_save_restore_cache

      - run:
          name: Run tests with JUnit as reporter
          command: npm run test
          environment:
            JEST_JUNIT_OUTPUT_DIR: ./reports/junit/
      - store_test_results:
          path: ./reports/junit/
      - store_artifacts:
          path: ./reports/junit

#  build-frontend:

#  build-frontend:

#  test-frontend:

#  est-backend:

#  can-frontend:

#  scan-backend:

#  deploy-infrastructure:

#  configure-infrastructure:

#  run-migrations:

#  deploy-frontend:

#  deploy-backend:

#  smoke-test:

#  cloudfront-update:

workflows:
  frontend:
    jobs:
      - checkout_code
      - frontend-build:
          requires:
            - checkout_code
      - frontend-test:
          requires:
            - frontend-build

  backend:
    jobs:
      - checkout_code
      - backend-build:
          requires:
            - checkout_code

      - backend-test:
          requires:
            - backend-build
