version: 2.1

commands:
  install_build_cache:
    parameters:
      build:
        type: string
        default: "backend"
    steps:
      - restore_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Install
          command: |
            npm install
      - run:
          name: Build
          command: |
            npm run build
      - save_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/project/

jobs:
  checkout_code:
    docker:
      - image: circleci/node:13.8.0
    working_directory: ~/project
    steps:
      - checkout
      - restore_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Install Frontend dependencies
          command: |
            cd ~/project/frontend && npm i
      - run:
          name: Install Backend dependencies
          command: |
            cd ~/project/backend && npm i

      - save_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/project

  frontend-build:
    docker:
      - image: circleci/node:13.8.0
    working_directory: ~/project/frontend
    steps:
      - install_build_cache:
          build: frontend

  frontend-test:
    docker:
      - image: circleci/node:13.8.0
    working_directory: ~/project/frontend
    steps:
      - restore_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}

      #- frontend_save_restore_cache

      - run:
          name: Run tests with JUnit as reporter
          command: npm run test
          environment:
            JEST_JUNIT_OUTPUT_DIR: ./reports/junit/
      - store_test_results:
          path: ./reports/junit/
      - store_artifacts:
          path: ./reports/junit

  backend-build:
    docker:
      - image: circleci/node:13.8.0
    working_directory: ~/project/backend
    steps:
      - install_build_cache:
          build: backend

  backend-test:
    docker:
      - image: circleci/node:13.8.0
    working_directory: ~/project/backend
    steps:
      - restore_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}

      #    - backend_save_restore_cache

      - run:
          name: Run tests with JUnit as reporter
          command: npm run test
          environment:
            JEST_JUNIT_OUTPUT_DIR: ./reports/junit/
      - store_test_results:
          path: ./reports/junit/
      - store_artifacts:
          path: ./reports/junit

workflows:
  frontend:
    jobs:
      - checkout_code
      - frontend-build:
          requires:
            - checkout_code
      - frontend-test:
          requires:
            - frontend-build

  backend:
    jobs:
      - checkout_code
      - backend-build:
          requires:
            - checkout_code

      - backend-test:
          requires:
            - backend-build
